.activityDetailContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5em;
  padding-right: 1em;
  padding-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
}

.activityDetailContainerLeftSide {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
